body{
  padding: 0;
  margin: 0;
}

.content {
  max-width: 70%;
  margin: auto;
} 

body.light {
  background-color: #dedede;
}

body.dark {
  background-color: #1c1c1c;
}

footer {
  margin-top: auto;
  bottom: 0;
}

footer.dark {

  color: white;
}

footer.light {
  color: black
}